ACTION=="add", SUBSYSTEM=="net", DRIVERS=="mtk_soc_eth", ENV{OF_FULLNAME}=="/soc/ethernet@15100000/mac@0", NAME="dsa"
ACTION=="add", SUBSYSTEM=="net", DRIVERS=="mtk_soc_eth", ENV{OF_FULLNAME}=="/soc/ethernet@15100000/mac@1", NAME="eth1"
ACTION=="add", SUBSYSTEM=="net", DRIVERS=="mt7530-mdio", ENV{OF_FULLNAME}=="/soc/ethernet@15100000/mdio-bus/switch@31/ports/port@5", NAME="eth2"
ACTION=="add", SUBSYSTEM=="net", DRIVERS=="mt7530-mdio", ENV{OF_FULLNAME}=="/soc/ethernet@15100000/mdio-bus/switch@31/ports/port@0", NAME="eth3"
ACTION=="add", SUBSYSTEM=="net", DRIVERS=="mt7530-mdio", ENV{OF_FULLNAME}=="/soc/ethernet@15100000/mdio-bus/switch@31/ports/port@1", NAME="eth4"
ACTION=="add", SUBSYSTEM=="net", DRIVERS=="mt7530-mdio", ENV{OF_FULLNAME}=="/soc/ethernet@15100000/mdio-bus/switch@31/ports/port@2", NAME="eth5"
ACTION=="add", SUBSYSTEM=="net", DRIVERS=="mt7530-mdio", ENV{OF_FULLNAME}=="/soc/ethernet@15100000/mdio-bus/switch@31/ports/port@3", NAME="eth6"
ACTION=="add", SUBSYSTEM=="net", DRIVERS=="mt7530-mdio", ENV{OF_FULLNAME}=="/soc/ethernet@15100000/mdio-bus/switch@31/ports/port@4", NAME="eth7"
